---
---

@import "{{ site.theme }}";

header.page-header h1 a,
header.page-header h1 a:hover,
header.page-header h1 a:active {
	color:white
}

header.page-header h1, header.page-header h2{
     width: 500px;
     margin: 0 auto;
}

main#content {
    width: 1024px;
    margin: 0 auto;
}